<script type="application/ld+json">
{{ if or (eq .Section "posts") (eq .Section "memes") }}
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title }},
  "image": {{ .Params.featuredImage | absURL }},
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  "author": {
    "@type": "Person",
    "name": "DK"
  },
  "mainEntityOfPage": { "@type": "WebPage" },
   "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Params.header }},
    "logo": {
      "@type": "ImageObject",
      "url": "https://weekinmemes.com/img/logo.jpg"
    }
  },
  "description": {{ .Summary | plainify | safeHTML }},
  "keywords": [{{range .Params.tags}}"{{ . }}", {{ end }}"memes"]
}
{{ end }}

{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ .Site.Params.header }},
  "url": {{ .Site.BaseURL }},
  "sameAs": [
    "https://www.facebook.com/{{ .Site.Params.facebook }}",
    "https://instagram.com/{{ .Site.Params.instagram }}",
    "https://twitter.com/{{ .Site.Params.twitter }}",
    "https://youtube.com/channel/{{ .Site.Params.youtube }}"
  ]
}
</script>
