<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
	<head>
    {{ partial "head.html" . }}
    </head>
<body>
	{{ if and (not .IsHome) (ne .Section "subscribe") }}
    <header class="header">
		{{ partial "brand.html" . }}
	</header>
    <nav class="main-nav">
        {{ partial "nav.html" . }}
    </nav>
    {{ end }}
    <!-- show sidebar if widgets param is set to true -->

    {{ if .IsHome }}
    <div id="site-wrapper-centered" class = "subscribe-page">
    <nav class="main-nav">
        {{ partial "nav.html" . }}
    </nav>
    
        {{ partial "mailerlite.html" . }}
        <div class = "read-first" id = "read-first">
            <h2><a href = "{{ .Paginator.URL }}#site-wrapper" id = "read-first-anchor-link">Read First</a></h2>
        </div>
    </div>
    <div id="site-wrapper">
        <main>
            {{ block "main" . }} {{ end }}
        </main>
        <!-- show widget on larger screen -->
        <aside class="desktop-only">
            {{ block "widgets" . }}{{ end }}
            {{ partial "footer.html" . }}
        </aside>
    </div>

    <!-- no sidebar, content centered to screen -->
    {{ else if or (or (eq .Section "support") ( eq .Section "about" )) (eq .Section "subscribe") }}
    
    {{  if eq .Section "subscribe" }}
    <div id="site-wrapper-centered" class = "subscribe-page">
    {{ else }}
    <div id="site-wrapper-centered">
    {{ end }}
        <main class="center">
            {{ block "main" . }} {{ end }}
        </main>
        {{ partial "footer.html" . }}
    </div>

    {{ else }}
    <div id="site-wrapper">
        <main>
            {{ block "main" . }} {{ end }}
        </main>
        <!-- show widget on larger screen -->
        <aside class="desktop-only">
            {{ block "widgets" . }}{{ end }}
            {{ partial "footer.html" . }}
        </aside>
    </div>
   
    {{ end }}
{{ partial "js.html" . }}
</body>
</html>